.square-animation-box {
    display: flex;
    gap: 1rem;
}

.square {
    width: 2rem;
    height: 2rem;
    animation-name: roll;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.square1 {
    background-color: red;
}

.square2 {
    background-color: green;
}

.square3 {
    background-color: yellow;
}

@keyframes roll {
    from {
        rotate: -45deg;
    }
    to {
        rotate: 45deg;
    }
}